.table-rounded thead th:first-child {
    border-radius: 6px 0 0 0;
}

.table-rounded thead th:last-child {
    border-radius: 0 6px 0 0;
}

.table-rounded tbody tr:last-child th:first-child {
    border-radius: 0 0 0 6px;
}

.table-rounded tbody tr:last-child td:last-child {
    border-radius: 0 0 6px 0;
}